<form class="flexcol" autocomplete="off">
	<div class="form-group">
		<label>{{localize "Name"}}</label>
		<input type="text" name="name" value="{{object.name}}" required>
	</div>

	<div class="form-group">
		<label>Radius</label>
		<input type="number" name="radius" value="{{object.radius}}" required min="0" step="1">
	</div>

	<!-- Tabs -->
	<nav class="sheet-tabs tabs" style="margin-top: 0.5rem">
        <a class="item" data-tab="lines"><i class="fas fa-paint-brush"></i> {{localize "DRAWING.TabLines"}}</a>
        <a class="item" data-tab="fill"><i class="fas fa-fill-drip"></i> {{localize "DRAWING.TabFill"}}</a>
        <a class="item" data-tab="visibility"><i class="fas fa-eye-low-vision"></i> Visibility</a>
    </nav>

	<!-- Lines tab -->
    <div class="tab" data-tab="lines">
		<div class="form-group">
            <label>{{localize "GRIDAWAREAURAS.LineType"}}</label>
            <select name="lineType" data-dtype="Number">
                {{selectOptions lineTypes selected=object.lineType localize=true}}
            </select>
        </div>

		<div class="form-group">
            <label>{{localize "DRAWING.LineWidth"}} <span class="units">({{localize "Pixels"}})</span></label>
			<input type="number" name="lineWidth" value="{{object.lineWidth}}" required min="0" step="1">
        </div>

		<div class="form-group">
            <label>{{localize "DRAWING.StrokeColor"}}</label>
            <div class="form-fields">
                {{colorPicker name="lineColor" value=object.lineColor}}
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "DRAWING.LineOpacity"}}</label>
            <div class="form-fields">
                {{rangePicker name="lineOpacity" value=object.lineOpacity min="0" max="1" step="0.1"}}
            </div>
        </div>

		<div class="form-group">
			<label>Dash Config</label>
			<div class="form-fields">
				<input type="number" name="lineDashSize" placeholder="Dash" value="{{object.lineDashSize}}" required min="0" step="1">
				<input type="number" name="lineGapSize" placeholder="Gap" value="{{object.lineGapSize}}" required min="0" step="1">
			</div>
		</div>
	</div>

	<!-- Fill tab -->
    <div class="tab" data-tab="fill">
		<div class="form-group">
            <label>{{localize "DRAWING.FillTypes"}}</label>
            <select name="fillType" data-dtype="Number">
                {{selectOptions fillTypes selected=object.fillType localize=true}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "DRAWING.FillColor"}}</label>
            <div class="form-fields">
                {{colorPicker name="fillColor" value=object.fillColor}}
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "DRAWING.FillOpacity"}}</label>
            <div class="form-fields">
                {{rangePicker name="fillOpacity" value=object.fillOpacity min="0" max="1" step="0.1"}}
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "DRAWING.FillTexture"}}</label>
            <div class="form-fields">
                {{filePicker target="fillTexture" type="image"}}
                <input class="image" type="text" name="fillTexture" placeholder="path/image.png" value="{{object.fillTexture}}"/>
            </div>
        </div>

		<div class="form-group">
			<label>Texture Offset <span class="units">(px)</span></label>
			<div class="form-fields">
				<input type="number" name="fillTextureOffset.x" placeholder="x" value="{{object.fillTextureOffset.x}}" required>
				<input type="number" name="fillTextureOffset.y" placeholder="y" value="{{object.fillTextureOffset.y}}" required>
			</div>
		</div>

		<div class="form-group">
			<label>Texture Scale <span class="units">(%)</span></label>
			<div class="form-fields">
				<input type="number" name="fillTextureScale.x" placeholder="x" value="{{object.fillTextureScale.x}}" required>
				<input type="number" name="fillTextureScale.y" placeholder="y" value="{{object.fillTextureScale.y}}" required>
			</div>
		</div>
	</div>

    <!-- Visibility tab -->
    <div class="tab" data-tab="visibility">
        <p>Specify under which conditions the aura should be visible to owners and non-owners. If ANY applicable state is checked, the aura will be visible.</p>

        <div class="visibility-grid">
            <div class="visibility-row">
                <span class="owner text-bold">Owner</span>
                <span class="nonowner text-bold">Non-owners</span>
            </div>

            <div class="visibility-row">
                <span class="title">Default</span>
                <p class="hint">When none of the below states are applicable.</p>
                <input type="checkbox" class="owner" name="ownerVisibility.default" {{checked object.ownerVisibility.default}}>
                <input type="checkbox" class="nonowner" name="nonOwnerVisibility.default" {{checked object.nonOwnerVisibility.default}}>
            </div>

            <div class="visibility-row">
                <span class="title">Hovered</span>
                <input type="checkbox" class="owner" name="ownerVisibility.hovered" {{checked object.ownerVisibility.hovered}}>
                <input type="checkbox" class="nonowner" name="nonOwnerVisibility.hovered" {{checked object.nonOwnerVisibility.hovered}}>
            </div>

            <div class="visibility-row">
                <span class="title">Selected</span>
                <input type="checkbox" class="owner" name="ownerVisibility.controlled" {{checked object.ownerVisibility.controlled}}>
                <input type="checkbox" class="nonowner" disabled>
            </div>

            <div class="visibility-row">
                <span class="title">Dragging</span>
                <p class="hint">Visible to a user when they are dragging token.</p>
                <input type="checkbox" class="owner" name="ownerVisibility.dragging" {{checked object.ownerVisibility.dragging}}>
                <input type="checkbox" class="nonowner" disabled>
            </div>

            <div class="visibility-row">
                <span class="title">Targeted</span>
                <p class="hint">Visible to a user when they are targeting the token.</p>
                <input type="checkbox" class="owner" name="ownerVisibility.targeted" {{checked object.ownerVisibility.targeted}}>
                <input type="checkbox" class="nonowner" name="nonOwnerVisibility.targeted" {{checked object.nonOwnerVisibility.targeted}}>
            </div>

            <div class="visibility-row">
                <span class="title">Turn</span>
                <p class="hint">When the token has its turn in the combat tracker.</p>
                <input type="checkbox" class="owner" name="ownerVisibility.turn" {{checked object.ownerVisibility.turn}}>
                <input type="checkbox" class="nonowner" name="nonOwnerVisibility.turn" {{checked object.nonOwnerVisibility.turn}}>
            </div>
        </div>
    </div>

	<hr/>

	<footer class="sheet-footer flexrow">
        <button type="button" data-action="close">Close</button>
    </footer>
</form>
