{{#if showGridTypeWarning}}
	<p style="color: red;">Grid-Aware Auras does not support gridless scenes.</p>
{{/if}}

<table class="grid-aware-auras-list">
	<thead>
		<th style="width: 24px">&nbsp;</th>
		<th class="text-left">Name</th>
		<th style="width: 58px">Radius</th>
		<th style="width: 58px">Line</th>
		<th style="width: 58px">Fill</th>
		<th style="width: 24px">
			<a data-action="grid-aware-auras-add">
				<i class="fas fa-plus"></i>
			</a>
		</th>
	</thead>

	<tbody>
		{{#each auras as |aura idx|}}
			<tr data-aura-id="{{aura.id}}">
				<td>
					<label class="icon-checkbox" data-tooltip="Enable/disable aura" style="width: 18px">
						<input type="checkbox" data-action="grid-aware-auras-toggle-enabled" {{checked aura.enabled}}>
						<i class="fas fa-toggle-off icon-unchecked"></i>
						<i class="fas fa-toggle-on icon-checked"></i>
					</label>
				</td>
				<td>
					{{aura.name}}
				</td>
				<td class="text-center">
					{{aura.radius}}
				</td>
				<td class="text-center">
					{{#unless (eq aura.lineType ../LINE_TYPES.NONE)}}
						<input type="color" value="{{aura.lineColor}}" disabled>
					{{/unless}}
				</td>
				<td class="text-center">
					{{#unless (eq aura.fillType ../FILL_TYPES.NONE)}}
						<input type="color" value="{{aura.fillColor}}" disabled>
					{{/unless}}
				</td>
				<td class="text-center">
					<a data-action="grid-aware-auras-context-menu" style="width: 100%; display: inline-block;">
						<i class="fas fa-ellipsis-vertical"></i>
					</a>
				</td>
			</tr>
	{{/each}}
	</tbody>
</table>

<input type="hidden" name="{{flagPath}}" data-dtype="JSON">
